In [4]:
s = 'blah'

In [5]:
type(s)

str

In [7]:
type(s) is str

True

In [8]:
class Foo:
    pass

In [9]:
f = Foo()

In [11]:
type(f)

__main__.Foo

In [13]:
type(f) is Foo

True

In [15]:
isinstance(f, Foo)

True

In [16]:
class Bar(Foo):
    pass

In [17]:
b = Bar()

In [19]:
type(b)

__main__.Bar

In [20]:
type(b) is Foo

False

In [22]:
isinstance(b, Foo)

True

In [24]:
issubclass(Bar, Foo)

True

In [27]:
issubclass(type(b), Foo)

True

In [28]:
isinstance(b, Foo)

True

In [37]:
import os, re

In [32]:
dirname = 'data'

In [63]:
os.listdir(dirname)

['2023-01.csv', '2023-02.csv', 'bank.csv']

In [64]:
def square(n): return n**2

In [65]:
square(4)

16

In [70]:
map(square, [1,2,3,4])

In [71]:
import functools

In [75]:
for i in map(functools.partial(os.path.join, dirname), os.listdir(dirname)):
    print(i)

data/2023-01.csv
data/2023-02.csv
data/bank.csv

In [76]:
for i in filter(os.path.isfile, map(functools.partial(os.path.join, dirname), os.listdir(dirname))):
    print(i)

data/2023-01.csv
data/2023-02.csv
data/bank.csv

In [77]:
for i in filter(functools.partial(re.search, r'\d\d\d\d-\d\d'), 
                filter(os.path.isfile, 
                       map(functools.partial(os.path.join, dirname), 
                           os.listdir(dirname)))):
    print(i)

data/2023-01.csv
data/2023-02.csv

In [80]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [81]:
(i**2 for i in range(5))

In [82]:
for i in filter(functools.partial(re.search, r'\d\d\d\d-\d\d'), 
                filter(os.path.isfile, 
                       map(functools.partial(os.path.join, dirname), 
                           os.listdir(dirname)))):
    print(i)

data/2023-01.csv
data/2023-02.csv

In [86]:
df = pd.DataFrame({
        'account': ['AT666666666666666666'],
        'info': [r'Bezahlung Karte                              MC/000009231|POS          '
                 r'U354  K002 31.01. 22:05|FREIGEIST\\GRAZ\8010         0'],
        'time_booked': ['02.02.2023'],
        'time_valuta': ['31.01.2023'],
        'amount': ['-70,00'],
        'unit': ['EUR'],
    })

In [87]:
df

,account,info,time_booked,time_valuta,amount,unit
0,AT666666666666666666,Bezahlung Karte M...,02.02.2023,31.01.2023,"-70,00",EUR

In [89]:
df['time_booked'].iloc[0]

'02.02.2023'

In [90]:
df['time_booked'] = pd.to_datetime(df['time_booked'], format='%d.%m.%Y')

In [91]:
df

,account,info,time_booked,time_valuta,amount,unit
0,AT666666666666666666,Bezahlung Karte M...,2023-02-02,31.01.2023,"-70,00",EUR

In [92]:
df['time_booked'].iloc[0]

Timestamp('2023-02-02 00:00:00')

In [94]:
from datetime import datetime

In [95]:
datetime(year=2023, month=2, day=2)

datetime.datetime(2023, 2, 2, 0, 0)

In [96]:
import numpy

In [98]:
num = numpy.float64(666.666)

In [99]:
type(num)

numpy.float64

In [101]:
num

666.666

In [102]:
float(num)

666.666

In [104]:
type(float(num))

float

In [106]:
hasattr(num, '__float__')

True

In [107]:
float(num)

666.666

In [110]:
from pathlib import Path

In [111]:
root = Path(r'/some/directory')

In [112]:
root / 'subdir'

PosixPath('/some/directory/subdir')

In [143]:
def f(a): pass

In [146]:
from inspect import signature

In [149]:
sig = signature(f)

In [151]:
sig

In [152]:
dir(sig)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind',
 '_bound_arguments_cls',
 '_hash_basis',
 '_parameter_cls',
 '_parameters',
 '_return_annotation',
 'bind',
 'bind_partial',
 'empty',
 'from_builtin',
 'from_callable',
 'from_function',
 'parameters',
 'replace',
 'return_annotation']

In [153]:
sig.parameters

mappingproxy({'a': <Parameter "a">})

In [156]:
import os

In [157]:
type(os)

module

In [155]:
os.listdir

In [159]:
os.__dict__['listdir']

In [161]:
for sq in map(lambda i: i**2, [1,2,3,4]):
    print(sq)

1
4
9
16

In [162]:
map(lambda i: i**2, [1,2,3,4])

In [174]:
def partial(func, arg):
    def inner(another_arg):
        return func(arg, another_arg)
    return inner

In [175]:
myfunc = partial(print, 'hello')

In [176]:
anotherfunc = partial(os.path.join, '/root')

In [177]:
myfunc('world')

hello world

In [178]:
anotherfunc('dir')

'/root/dir'

In [180]:
def partial(func, *args):
    def inner(*more_args):
        real_args = args + more_args
        return func(*real_args)
    return inner

In [182]:
yetanotherfunc = partial(print, 'a', 'b', 'c')

In [183]:
yetanotherfunc('d', 'e')

a b c d e